/* Global Styles */
:root {
  --primary-color: #e153b4;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #359e4e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mytext-center {
  text-align: center;
}

.mytext-primary {
  color: var(--primary-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}

/* Button */
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: auto;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Pages */
.page-header {
  color: var(--primary-color);
  font-size: 4rem;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.pet-profile {
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
}

/* Navbar */
.myNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.myNavbar-header{
  color: var(--primary-color);
  font-family: 'Indie Flower', cursive;
  margin: auto 5px;
}

.myNavbar text {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

/* Landing Page */
.myCarousel {
  justify-content: center;
  background-color: lavenderblush;
}

.myCarousel-item {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  max-height: 400px;
}

.myCarousel-caption {
  background: rgb(255, 255, 255, 0.5);
  color: #e153b4;
}

.myCarousel-pet-icon-div {
  padding: 2rem;
  padding-top: 100px;
  background: #d3d3d3;
  height: 400px;
  width: 600px;
}

.carousel-caption {
  z-index: 1;
}

/* AboutUs Page */
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contact-button {
  display: flex;
  margin-bottom: 20px;
}

/* Dashboard Page */
.col {
  display: flex;
  justify-content: center;
}

.pet-icon-div {
  padding: 2rem;
  background: #d3d3d3;
  max-width: 150px;
}

.pet-icon {
  color: white;
  display: flex;
  justify-content: center;
}

/* Pet Card */
.like-button-div {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.like-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ecb9f0;
}

.liked-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF1493;
}

.pet-name {
  color: var(--primary-color);
  font-size: xx-large;
  font-family: 'Indie Flower', cursive;
}